@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap);
* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

#login {
    background-image: url("../../assets//loginBG.jpg");
    background-size: cover;
    height: 100vh;
}

.bg_opacity {
    background-color: rgba(7, 7, 7, 0.247);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.login_container {
    width: 40%;
    min-width: 300px;
    max-width: 480px;

    background-color: rgba(255, 255, 255, 0.219);
    margin: auto;
    border-radius: 4px;
    box-shadow: 0 0 15px black;
    padding: 50px;
    backdrop-filter: blur(30px);
}

.login_form > .title {
    font-weight: 600;
    font-size: 45px;
    text-align: center;


    /* color: #eb3245; */
}

.login_form > .type {
    display: inline;
    color: #1a1a1a;
    padding: 2px 6px 2px 6px;
    margin-left: 58%;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 4px;
    color: #fcfcfc;
    background-color: #0000008f;
    /* color: rgba(255, 255, 255, 0.89);
    border: 1px solid rgba(255, 255, 255, 0.89); */
}

.login_form > label {
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 17px;
}

.login_form  label[for="username"] {
    margin-top: 40px;
}

.login_form > .type_in {
    font-size: 17px;
    border-radius: 4px;
    padding: 15px;
    border: 1px solid #ced4da;
    background-color: rgba(255, 255, 255, 0.89);
    margin-bottom: 25px;
}

.login_form > .type_in:focus {
    outline-color: rgba(255, 255, 255, 0.336);
}

.login_form > .type_in::placeholder {
    color: rgb(129, 129, 129);
    font-size: 17px;
}

.login_form > * {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.login_form > button {
    background-color: #dc3545;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 15px;
    border: none;
}

.login_form > button:focus {
    outline: none;
}

.login_form > button:hover {
    background-color: #f0384a;
    cursor: pointer;
}

.login_form > button > h2 {
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
}

.login_form > .message {
    text-align: center;
    font-size: 17px;
}

.message > a {
    color: #ffffff;
    text-decoration: none;
}

.message > a {
    margin-right: 5px;
}
