.container {
    background-color: white;
    margin: 1.5rem;
    flex: 1;
}

.description_form {
    padding: 2rem;
}

#description {
    padding: 2rem;
    border-bottom: 1px dotted rgb(218, 215, 215);
}

.category {
    display: flex;
    padding-bottom: 30px;
}

.category_name {
    font-weight: 700;
    min-width: 20%;
}

.wrap_item {
    display: flex;
    flex-wrap: wrap;
}

#title>.to_complete>input {
    width: 530px;
}


/* iefseoifsofi */

.to_complete {
    margin-right: 30px;
}

.to_complete>label {
    font-weight: 700;
    color: rgba(36, 36, 36, 0.733);
    padding-bottom: 6px;
    font-size: 15px;
}

.to_complete>input,
.to_complete>select,
.to_complete>textarea {
    width: 250px;
    height: 42px;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
    color: rgba(29, 28, 28, 0.733);
    border-radius: 4px;
    border: 1px solid #ced4da;
    background-color: white;
}

.to_complete>input,
.to_complete>select,
.to_complete>textarea {
    outline: 1px solid 1px;
    outline-color: rgba(250, 141, 177, 0.658);
}

.to_complete textarea:focus {
    outline-color: rgba(250, 141, 177, 0.658);

}
.to_complete>* {
    display: block;
}

.container input::placeholder,
.container textarea::placeholder {
    opacity: 0.7;
}

#continue_button {
    width: 15%;
    height: 40px;
    border: none;
    border-radius: 4px;
    background-color: #dc3545;
    font-size: 15px;
    color: white;
    font-weight: 700;
    margin-top: 10px;
}

#continue_button:hover {
    background-color: #f0384a;
    cursor: pointer;
}

#continue_button:focus {
    outline: none;
}

@media (max-width: 600px) {
    .category {
        flex-direction: column;
    }
}